@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.google.com/specimen/Open+Sans");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

button {
  background-color: #fff;
  border-radius: 25px;
  border: none;
  padding: 5px 20px;
}

img {
  margin-bottom: 40px;
}

.card_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.card {
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  overflow: hidden;
  padding: 20px 0px;
}
.card h2, .card p {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  text-align: center;
}
.card p {
  color: hsl(208, 11%, 55%);
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
.card img {
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.divfloat {
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 40px 0;
  position: absolute;
  transform: translateX(12px) translateY(80px);
  width: 350px;
}
.divfloat h2 {
  align-items: center;
  color: hsl(192, 100%, 9%);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 15px;
  padding-bottom: 12px;
  text-align: center;
}
.divfloat button {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  font-size: 11px;
  margin: 0;
  padding: 15px 45px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px;
}
header button {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: black;
  font-weight: bold;
}

.huddle-logo {
  margin: 0;
}

.divhero {
  margin-bottom: 50px;
  background-color: hsla(193, 100%, 96%, 0.6);
  background-image: url("../../img/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }
}
.hero-container__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
.hero-container h1 {
  color: hsl(192, 100%, 9%);
  font-size: 25px;
}
.hero-container button {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  margin: 30px 0;
  padding: 12.5px 60px;
}
.hero-container img {
  margin: 0 auto 0 auto;
}

.foot {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  margin: 200px 0 0 0;
  padding-bottom: 50px;
  padding-top: 130px;
}
.foot img {
  margin-left: 20px;
}

.logofooter svg {
  fill: #fff !important;
}

.firstS {
  display: flex;
  flex-direction: column;
}

.firstS div {
  display: flex;
  margin-bottom: 20px;
}
.firstS div p {
  margin: 0;
}
.firstS div img {
  margin: 0 20px;
}

.footerinfo {
  margin: 20px;
}

.icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.icons ion-icon {
  height: 25px;
  padding: 5px;
  width: 25px;
}
.icons p {
  font-size: 12px;
}/*# sourceMappingURL=index.css.map */