.foot {
    background-color: $DarkCyan;
    color: $white;
    margin: 200px 0 0 0;
    padding-bottom: 50px;
    padding-top: 130px;
    img{
        margin-left: 20px;
    }
}

.logofooter svg {
    fill: $white !important;
}

.firstS {
    display: flex;
    flex-direction: column;
}

.firstS div {
    display: flex;
    margin-bottom: 20px;
    p {
        margin: 0;
    }
    img{
        margin: 0 20px;
    }
}

.footerinfo {
    margin: 20px;
}

.icons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    ion-icon {
        height: 25px;
        padding: 5px;
        width: 25px;
    }
    p {
        font-size: 12px;
    }
}