.divhero {
  background-color: $palecyan-background-hero;
  background-image: $bgimgmobile;
  background-repeat: no-repeat;
  font-family: $font-header;
  object-fit: contain;
}

.hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    flex-direction: row;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 75%;
  }

  h1 {
    font-size: 25px;
  }

  button {
    background-color: $base-color;
    color: $white;
    margin: 30px 0;
    padding: 12.5px 60px;
  }

  img {
    margin: 0 auto 0 auto;
  }
}
