.divhero{
  //background-color: $Grayish;
  background-image:$bgimgmobile;
}

.herocontent{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.btnHero{
  background-color: $base-color;
  color:  white;
}

.button1{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: black; // letras faaaaaaaaaaaaaaak foken chet
  font-weight: bold; // blacker letters
}
