$base-color: hsl(322, 100%, 66%);
$bgimgmobile: url("../../img/bg-hero-mobile.svg");
$black: black;
$DarkCyan:hsl(192, 100%, 9%);
$font-body: 'Open Sans', sans-serif;
$font-header: 'Poppins', sans-serif;
$Grayish: hsl(208, 11%, 55%);
$palecyan-background-hero: hsl(193, 100%, 96%, 0.6);
$palecyan: hsl(193, 100%, 96%);
$white: #fff;
